.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__image{
        background-image: url(../../utils/images/contact-mobile.jpg);
        width: 100%;
        height: 290px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__overlay{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &__title{
        position: absolute;
        bottom: 20px;
        left: 10px;
        font-size: 25px;
        color: white;
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__subtitle{
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }
    &__form{
        width: 60%;
        margin: 0 auto;
    }
    &__icons{
        margin: 20px auto;
        width: 100%;
        display: flex;
        align-content: space-around;
        justify-content: space-around;
    }
}